
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Benoit Fabioux - Galerie</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="/css/style.css"/>
        {% block javascripts %}
            <script>
                var idTab = [] , tabLenght;
                var currentId = {{idArt}};


                function slideOn(side){
                    document.getElementById('arrow-left-nav-galerie').style.display = 'block';
                    document.getElementById('arrow-right-nav-galerie').style.display = 'block';
                    
                    if(side =='left'){
                        document.getElementById('arrow-right-nav-galerie').style.display = 'block';
                        document.getElementById('container-oeuvre-galerie-'+currentId).classList.remove('on-the-top');
                        document.getElementById('container-oeuvre-galerie-'+currentId).classList.add('on-the-right');
                        if(side == 'left'){
                                currentId--;                    
                        }else if(side == 'right'){
                                currentId++;
                            }

                        if(currentId <= idTab[0]){ 
                            document.getElementById('arrow-left-nav-galerie').style.display = 'none';
                        }
                        document.getElementById('container-oeuvre-galerie-'+currentId).classList.add('on-the-top');
                        document.getElementById('container-oeuvre-galerie-'+currentId).classList.remove('on-the-left');

                    }else if(side =='right'){
                        
                            document.getElementById('arrow-right-nav-galerie').style.display = 'block';
                            document.getElementById('container-oeuvre-galerie-'+currentId).classList.remove('on-the-top');
                            document.getElementById('container-oeuvre-galerie-'+currentId).classList.add('on-the-left');
                            if(side == 'left'){
                                currentId--;                    
                            }else if(side == 'right'){
                                currentId++;
                            }
                        if(currentId >= idTab[tabLenght-1]){
                            document.getElementById('arrow-right-nav-galerie').style.display = 'none';
                        }
                        document.getElementById('container-oeuvre-galerie-'+currentId).classList.add('on-the-top');
                        document.getElementById('container-oeuvre-galerie-'+currentId).classList.remove('on-the-right');

                    }
                    
                }
            </script>      
        {% endblock %}
    </head>
    <body>
        <a href='{{ path ('galerie') }}'><p id="return-galerie">Retourner à la galerie</p></a>
            
        <a onclick="slideOn('left')">
            <div id="arrow-left-nav-galerie" style='background-image:url("/image/icons/back.svg");' class="arrow-nav-galerie"></div>
        </a>
        <a onclick="slideOn('right')">
            <div id="arrow-right-nav-galerie" style='background-image:url("/image/icons/back.svg");' class="arrow-nav-galerie" ></div>
        </a>
            

        <section id="galerie-oeuvre-carroussel">
                

                 {% for artwork in artworks %}
                    <script>
                        tabLenght = idTab.push({{ artwork.id }});
              console.log(idTab)
                    </script>

                    <div id="container-oeuvre-galerie-{{ artwork.id }}" class="container-oeuvre-galerie">
                        <div class="contenu-oeuvre-galerie">
                            <img src="{{ artwork.picture }}"/>
                            <div>
                                <h2>{{ artwork.title|upper }}</h2>
                                <p>{{ artwork.categorie|capitalize }}</span> | {{ artwork.format }} x {{ artwork.format2 }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}    
                

        </section>
    </body>
</html>

<script>
    function carousselSet( id ){

        idTab.forEach(otherId => {

            if(id > otherId){
                document.getElementById('container-oeuvre-galerie-'+otherId).classList.add('on-the-left');
            }else{
                document.getElementById('container-oeuvre-galerie-'+otherId).classList.add('on-the-right');
            }

        });
        document.getElementById('container-oeuvre-galerie-'+id).classList.remove('on-the-right');
        document.getElementById('container-oeuvre-galerie-'+id).classList.remove('on-the-left');
        document.getElementById('container-oeuvre-galerie-'+id).classList.add('on-the-top');
  
    }

    window.onload = carousselSet( '{{idArt}}' );
</script>      
