{% extends './backoffice/base_backoffice.html.twig' %}

{% block javascripts %}
    <script src="/js/backoffice/checkbox.js"></script>
    <script>
        function startView(){

            {% if category == 'Huile' %}
                document.getElementById('oil-category-container').classList.add('active');
                document.getElementById('oil-check').checked = true;
            {% else %}
                document.getElementById('acrylique-category-container').classList.add('active');
                document.getElementById('acrylique-check').checked = true;
            {% endif %}

            {% if type == true %}
                document.getElementById('portrait-category-container').classList.add('active');
                document.getElementById('portrait-check').checked = true;
            {% else %}
                document.getElementById('paysage-category-container').classList.add('active');
                document.getElementById('paysage-check').checked = true;
            {% endif %}

        }
    </script>
{% endblock %}

{% block body %}
 <section id="formulaire-template">
                <div class="formulaire-template-container">
                    <h1>Modifier une oeuvre <span>- {{ artwork.title }}</span></h1>
                    <div class="stroke"></div>
                    <div class="container-formulaire-template">
                    	{{ form_start(formView) }}
                            <div class="form_input"> 
                                <p>Titre de l'oeuvre</p>
                                {{ form_widget(formView.title) }}

                            </div>

                            <div class="container-button">
                                <p>Catégorie de l'oeuvre: </p>
                                <div id="oil-category-container" onclick="checkboxCategory('oil')">
                                    Huile
                                    {{ form_widget(formView.oil, { 'id': 'oil-check'}) }}
                                </div>
                                <div id="acrylique-category-container" onclick="checkboxCategory('acrylique')">
                                    Acrylique
                                    {{ form_widget(formView.acrylique, { 'id': 'acrylique-check'}) }}
                                </div>
                            </div>
                            <div class="form_input_file">
                                <div class="button-part">
                                    <p>Photo de l'oeuvre</p>
                                {{ form_widget(formView.picture) }}
                                </div>
                                <div class="img-part" style='background-image:url("{{picture}}")'>

                                </div>
                            </div>
                              <div class="container-button">
                                <p>Type de l'oeuvre: </p>
                                <div id="portrait-category-container" onclick="checkboxMode('portrait')">
                                    Portrait
                                    {{ form_widget(formView.portrait, { 'id': 'portrait-check'}) }}
                                </div>
                                <div id="paysage-category-container" onclick="checkboxMode('paysage')">
                                    Paysage
                                    {{ form_widget(formView.paysage, { 'id': 'paysage-check'}) }}
                                </div>
                            </div>
                            <div id="form-taille-number" className="non-validate">
                                <div class="form_input_double_input">
                                    <p>Format</p>
                                    <div>
                                        {{ form_widget(formView.format) }}
                                        {{ form_widget(formView.format2) }}    
                                    </div>     
                                </div>
                            </div>
                            
                            <button type="submit">Valider la création</button>
                    	{{ form_end(formView) }}
                    </div>

                </div>
            </section>
            <script> 
                window.onload = startView();
            </script>
{% endblock %}
